* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  background-color: #ffffff; }

.logo {
  padding-top: 00.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start; }

.menu {
  z-index: 1;
  padding: 0; }

.menu ul {
  list-style: none;
  font-size: 0;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  background-color: #000000;
  z-index: 1; }
  .menu ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 1rem;
    text-align: center; }
    .menu ul li a {
      display: block;
      width: 100%;
      color: #ffffff;
      background-color: black;
      text-decoration: none;
      text-align: center;
      z-index: 1; }

.menu ul ul {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 1; }

.menu ul ul li {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
  z-index: 1; }

.menu ul li:hover {
  background-color: #ffffff;
  color: #000000; }

.menu ul li:hover > a {
  background-color: #ffffff;
  color: #000000; }

.menu ul li:hover ul {
  display: block; }

.menu ul ul li:hover {
  background-color: #ffffff; }

.publicidad {
  z-index: 0;
  height: auto;
  display: flex;
  justify-content: center; }

.busqueda {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.busqueda input[type=text] {
  padding-left: 00.5rem;
  border: none;
  font-size: 1.5rem;
  height: 2rem; }

.relacionados {
  display: flex;
  flex-direction: column; }

.relacionados p {
  font-size: 1.8rem;
  display: flex;
  justify-content: center; }

.contrel {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contrel img {
  width: 50%;
  height: auto padding=0.3 rem; }

.contrel img:hover {
  border: solid black;
  transform: scale(1.1);
  transition: height 1s, width 1s; }

.resultado {
  display: flex;
  flex-direction: column;
  padding-top: 2rem; }

.resultado p {
  font-size: 1.8rem;
  text-align: center; }

.resultado img {
  padding-top: 1rem;
  height: auto; }

.resultado img:hover {
  border: solid black;
  transform: scale(1.1);
  transition: height 1s, width 1s; }

footer {
  padding-top: 1rem;
  margin: 0%;
  display: flex;
  justify-content: center; }

.formulario {
  display: flex;
  justify-content: center; }

.conform {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 70%; }

.infor {
  width: 70%;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center; }

.infor a {
  text-decoration: none;
  color: white; }

@media screen and (min-width: 900px) {
  .menu ul li a {
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 2rem; } }

@media screen and (min-width: 700px) {
  .menu ul li a {
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem; }
  footer {
    padding-top: 1rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center; } }

@media screen and (min-width: 500px) {
  .menu ul li a {
    color: white;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem; }
  footer {
    padding-top: 1rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center; } }
